body {
  font-family: sans-serif;
  background: #3a6186;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}
.price {
  width: 100px;
}
.article-block {
  display: flex;
  padding-top: 10px;
}
.articles .form-group:first-child{
  width: 165%;
}
.articles .form-group input {
  margin-top: 5px;
  display: block;
  margin-right: 3px;
}
#container, #check {
  width: 360px;
  margin: 20px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.title, .result-header {
  background: #1F030C;
  color: white;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.articles {
  padding: 15px;
}
.articles input[type='text'] {
}
.form-group {
  padding-right: 5px;
}
.articles input {
  border: none;
  border-bottom: 2px solid grey;
  padding: 6px;
}
#serviceQual {
  border-radius: 10px;
  background-color: lightgrey;
}
#calculate, #new-article, #going-articles {
  margin-bottom: 20px;
}
.btn {
  background: #1F030C;
  color: #fff;
}
.result-btn:hover, .delete-btn:hover, .add-person-btn:hover, .going-btn:hover {
  color: #fff !important;
}
.result-btn:focus, .delete-btn:focus, .add-person-btn:focus {
  color: #fff !important;
  outline: none !important;
}
.btn-sm {
  height: 34px;
}
.delete-btn {
  margin-top: 6px;
  margin-bottom: 14px !important;
  margin-left: 2px;
  width: 50px;
}
.article-lable {
  display: flex;
  list-style: none;
}
.lable-name:first-child {
  padding-left: 8px;
}
.lable-name {
  padding-left: 47px;
}
.lable-name:last-child {
  padding-left: 32px;
}
.peoples-block {
  display: flex;
}

/* Set up a grid */

.term-grid {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 2em;
  padding: 1em 0;
}
.term-grid label {
  text-align: center;
}
.grid-header {
  text-decoration: underline;
  border-bottom: unset;
}
.grid-footer {
  grid-template-columns: 2fr;
  grid-gap: 0.5em;
}
#check {
  display: none;
}
/* .articles, #new-article, .tip-section {
  display: none;
} */

.multiselect {
  width: 67px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  height: 35px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.5;

  background-color: #1F030C;
  color: #fff;
  margin-top: 5px
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.checkboxes {
  display: none;
  border: 1px #1F030C solid;
  border-radius: 3px;
  background-color: #1F030C;
  color: white;
  font-size: 12px;
}

.checkboxes label {
  display: flex;
}

.checkboxes label:hover {
  background-color: #5E3643;
  color: #fff;
  transition: 0.1s linear;
}
.checkname {
  margin-left: 4px !important;
}
.checkBoxName {
  padding-top: 3px;
}
.error {
  text-align: left;
  font-size: 10px;
  padding: 2px 0 0px 5px;
  color: red;
  font-style: italic;
}
