body {
  font-family: sans-serif;
  background: #3a6186;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}
.price {
  width: 100px;
}
.article-block-first, .article-block-second, .article-block-third {
  display: flex;
  padding-top: 10px;
}
.articles .form-group:first-child{
  width: 165%;
}
.articles .form-group input {
  margin-top: 5px;
}
#container, #check {
  width: 360px;
  margin: 20px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
.title, .result-header {
  background: #1F030C;
  color: white;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.articles {
  padding: 15px;
}
.articles input[type='text'] {
}
.form-group {
  padding-right: 5px;
}
.articles input {
  border: none;
  border-bottom: 2px solid grey;
  padding: 6px;
}
#serviceQual {
  border-radius: 10px;
  background-color: lightgrey;
}
#calculate {
  margin-bottom: 20px;
}
.result-btn {
  background: #1F030C;
  color: #fff;
}

/* Set up a grid */

.term-grid {
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 2em;
  padding: 1em 0;
}
.term-grid label {
  text-align: center;
}
.grid-header {
  text-decoration: underline;
  border-bottom: unset;
}
.grid-footer {
  grid-template-columns: 2fr;
  grid-gap: 0.5em;
}
#check {
  display: none;
}
